:root{
    --ve-font-size: 14px;
    --ve-font-family: 'consolas';
    --ve-line-height: 18px;
    --ve-half-line-height: 9px;
    --ve-back-color: #DDD;
    --ve-sub-back-color: #CCC;
    --ve-front-color: #666;
    --ve-label-width: 25%;
}

* {
    padding: 0px;
    margin : 0px;
    font-size       : var(--ve-font-size);
    font-family     : var(--ve-font-family);
}

html, body{
    height: 100%;
}

textarea{
    height: auto;
    resize: none;
}

.visual-element{
    display: flex;
    flex-direction: column;
}

.field-drawer{
    flex-direction: row;
    min-height: var(--ve-line-height);
        height: var(--ve-line-height);
}
.field-drawer .icon{
    height: var(--ve-line-height);
    width : var(--ve-line-height);
    image-rendering: pixelated;
    background-size: contain;
    user-select: none;
}
.field-drawer > .label-container{
    height: var(--ve-line-height);
    width : var(--ve-label-width);
}
.field-drawer > .content-container{
    flex-grow       : 1;
}

.text-element{
    caret-color: transparent;
}

.input-field {
    all: unset;
    width           : 100%;
    padding-left    : var(--ve-half-line-height);
    background-color: var(--ve-sub-back-color);
    border-color    : var(--ve-front-color);
    border-width    : 1px;
    border-style    : solid;
    border-radius   : 3px;
}
